h1 {
  font-size: 30px;
  font-family: Helvetica;
  color: white;
  background-color: rgba(50, 50, 50, 1);
  text-align: center;
  content: 20px;
  padding: 20px;
  border: 20px;
  margin: 0px;
}
.navbut {
  text-align: center;
}
.navbut ul {
  padding: 0;
  margin: 0;
}
.navbut li {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px;
  margin: auto;
  background: lightgrey;
  display: inline-block;
}
.navbut a {
  color: white;
  margin: auto;
}
p {
  font-size: 20px;
  font-family: Helvetica;
  color: black;
  background-color: turquoise;
  content: 20px;
  padding: 20px;
  border: 20px;
  margin: 20px;
}
.frame {
  display: inline-block;
  padding: 10px 5px;
}
.links {
  background-color: gold;
  text-align: center;
  padding: 15px;
  font-family: Helvetica;
}
footer {
  font-size: 14px;
  font-family: Helvetica;
  color: white;
  background-color: black;
  text-align: center;
  content: 20px;
  padding: 20px;
  border: 20px;
  margin: 20px;
}
